body{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.top-bar,
.head-middle,
.container-icons,
.philosophy-appointments,
footer{
  width: 960px;
  display: flex;
  align-items: center;
  margin: 0 auto;
/*  border: 1px solid yellow;*/
/*  border just for visualization aid */
}


@media only screen and (max-width: 960px){

.top-bar,
.head-middle,
.container-icons,
.philosophy-appointments,
 footer{
  width: 100%;
  }
}



header{
  background-image: url(../glasses-bg.png);
  height: 31rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 960px){
 
header{
  height: 22rem;
}
}


@media only screen and (max-width: 550px){
  
header{
  height: 17rem;
  background-position: 20%;
} 
}


.top-bar{
  background-color: cadetblue;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
  position: relative;
  top: 1rem;
}

@media only screen and (max-width: 960px){
  
.top-bar{
  top: 0;
}
}
 

.logo-name{
  display: flex;
  align-items: center;
}

.logo-white{
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

.nav-desktop{
  padding: 1rem 0;
}

.nav-mobile{
  display: none;
}

@media only screen and (max-width: 550px){
  
  .logo-name span{
    display: none;
  }
    
   .nav-desktop{
     display: none;
   }
  
  .nav-mobile{
    display: block;
    padding: 1rem 1rem;
  }
}


a{
  color: white;
  text-decoration: none;
  padding: 2rem;
}

@media only screen and (max-width: 960px){
  
a{
  padding: 1rem;  
  }
}


.head-middle{
  justify-content: flex-end;
  position: relative;
  right: -2rem;
}

.white-box{
  margin-top: 11rem;
  padding: 2.5rem 5rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
}

@media only screen and (max-width: 960px){
  
.head-middle{
  justify-content: flex-end;
  position: relative;
  right: 2rem;
  }
  
.white-box{
  margin-top: 5rem;
  margin-right: 2rem;
  padding: 1.75rem 4rem;
  font-size: 1.33rem;
}
} 
  

@media only screen and (max-width: 550px){
  
.head-middle{
  width: 100%;
  right: 0;
/*  border: 2px solid red;*/
  }
  
.white-box{
  margin-top: 9rem;
  margin-right: 0;
  padding: 1rem 4rem;
  font-size: 1.33rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  
} 
}


.container-icons{
  display: flex;
  justify-content: center;
}

.box-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  height: 8rem;
  width: 7rem;
}

@media only screen and (max-width: 550px){
 
.container-icons{
  flex-direction: column;
  margin: 3rem 0;
} 
  
.box-icon{
  padding: 0.77rem;
  font-size: 0.77rem;
  width: 3rem;
} 
}


.icon-paper{
  width: 3.5rem;
  height: auto;
  align-self: center;
}

.icon-ruler,
.icon-truck{
  width: 5rem;
}

.icon-text{
  text-align: center;
}

.philosophy-appointments{
  display: flex;
  align-items: flex-start;
}

.box-philosophy{
  display: flex;
  margin: 0 2.5% 0 7%;
  width: 35%;
/*  border: 2px dotted red;*/
  /*  border just for visualization aid */
}

.headline{
  width: 10rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 550px){
  
.philosophy-appointments{
  flex-direction: column;
/*  border: 2px dotted red;*/
  /*  border just for visualization aid */
} 
  
.box-philosophy{
  margin: 0;
  width: 100%;
/*  border: 2px dotted red;*/
  /*  border just for visualization aid */
}

 .headline{
  width: 100%;
  padding: 0.5rem 0;
   text-align: center;
}
  
.text{
  font-size: 0.77rem;
  padding-left: 0.25rem;
  }
}



footer{
  background-color: azure;
  margin-top: 5rem;
  padding: 4rem 4rem;
}

@media only screen and (max-width: 960px){
  
footer{
  padding: 4rem 2rem; 
}
}


.copyright{
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.logo-black{
  height: 1.5rem;
  padding-right: 1rem;
}

@media  only screen and (max-width: 550px){
  
  footer{
    display: flex;
    justify-content: center;
  }
  
  .logo-black{
  padding-right: 0;
  }
  
.copyright span{
    display: none;   
  }
  
  
}

  